* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

main {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  max-width: 37.5rem;
  height: 28.125rem;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 2rem;
}

img {
  width: 50%;
  object-fit: cover;
}

.img-container {
  width: 50%;
  height: 28.125rem;
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.info {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h5 {
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 0.75rem;
}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  line-height: 2rem;
  color: hsl(212, 21%, 14%);
}

p {
  color: hsl(228, 12%, 48%);
  font-size: 0.875rem;
  line-height: 1.4rem;
}

.prices {
  display: flex;
  align-items: center;
}

.main-price {
  font-size: 1.8rem;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  margin-right: 1.2rem;
}

.second-price {
  color: hsl(228, 12%, 48%);
  font-size: .8rem;
  text-decoration: line-through;
}

button {
  width: 100%;
  height: 2.8rem;
  background-color: hsl(158, 36%, 37%);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  font-size: .85rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

button::after {
  content: "";
  background-color: hsl(158, 36%, 20%);
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  bottom: -100%;
  transition: all 0.35s;
}

button:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

button img {
  width: 1rem;
  margin-right: .7rem;
}

footer {
  position: absolute;
  bottom: 7px;
  font-size: 0.6875rem;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 400px) {
  main {
    flex-direction: column;
    height: 35.7rem;
    margin: 0 1rem;
  }
  .img-container {
    height: 25rem;
    width: 100%;
    background-image: url(./images/image-product-mobile.jpg);
  }
  .info {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h1 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  line-height: 2rem;
  color: hsl(212, 21%, 14%);
  }
}